*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ee66a58e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

section#showcase {
    height: 100vh;
    background-image: url('recife\ \(1\).jpg');
background-size: cover;
background-position: center;

color: chartreuse;
text-align: center;
padding-top: 2em;
}

section#showcase h1 {
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    letter-spacing: 0.1em;
}

section#showcase p {
    color: #ffffff;
    text-shadow: 0 1px 2px rgb(0,0,0,1)
                 0 -1px 1px #000;
    font-weight: 500;
    padding-top: 2em;
    padding-left: 20em;
    padding-right: 20em;
    margin-bottom: 1.5em;
}

section#showcase a.btn{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    background-color: #ddf4ed;
    color: black;
    letter-spacing: .2em;
    
    border-radius: 50%;
    transition: .3s;
}

section#showcase a.btn:hover{
    border: 2px solid #20cce0;
    background-color: transparent;
   outline: 2px solid #fff; /*Linha depois da borda*/
   outline-offset: 4px; /* distancia da linha depois da borda*/
}

section.container{
    padding: 3em;
    line-height: 1.5em;
    font-weight: 600;
}

footer {
    height: 8vh;
    text-align: right;
    padding-right: 2.5em;
}
