*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-size: 10px;
}

section#primeira {
    background-color:aqua
}
.primeiro_bloco{
    font-size: 0.5em;
    background-color: saddlebrown;
}

.segundo_bloco{
    font-size: 0.75em;
    background-color: blueviolet;
}

.terceiro_bloco{
    font-size: 1em;
    background-color: rgb(156, 12, 12);
}

.quarto_bloco{
    font-size: 1.25em;
    background-color: chartreuse;
}

.quinto_bloco{
    font-size: 1.50em;
    background-color: hotpink;
}

.sexto_bloco{
    font-size: 1.75;
    background-color: cornflowerblue;
}