<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body> 

   <header style="display: flex;">

    <!--section foto de perfil-->
</section>
<img src="-lisa-simpsons.jpg" alt="100px" heigth="100px" width="100px" > 
</section

    <h1> 
</section>
<br> <br> 

Luara souza | 24 anos | @luh_aranja2| |luaraoliveira06@outlook.com |Touro <br>

</header>


<!--seção de entretenimento-->
<article
<h3>Peaky Blinder</h3>
<h5>curto: 5/5</h5>
<p>
    <img src="peaky blinder.jpg" alt="" height="100px" width="80px">
</p>
<p>
    <strong>peaky blinder </strong> é 
    sobre jovens ingleses depois da guerra <br>
    que ficaram triste e sem emprego dai começaram <br>
    a causar confusão até se envolver em crime!
   <p>

    para conchecer mais <a href"">clique aqui!</a>
   </p>
</article>
<hr>

</p>
    </p>
</p>
</article>




<nav>


  <hr>
  <a href="mysite.html"> Eu e eu mesmo</a>
  <a href="entretenimento.html">Entretenimento</a>
  <a href="musicas.html"> Músicas</a>
   
   
    

    
 </nav>  
</body>
</html>
<article
<h3>Toyko revengers</h3>
<h5>curto: 5/5</h5>
<p>
    <img src="Tokyo Revengers.jpe" alt="" height="100px" width="80px">
</p>
<p>
    <strong>Tokyo Revengers </strong> <br><br>Tokyo Revengers é um 
    anime repleto de viagem no tempo e gangues juvenis.
     <br>Na animação japonesa, um jovem-adulto virgem de 26 anos chamado 
     <br>Takemichi passa por uma experiência de 
     <br>quase-morte ao ser empurrado em direção a um trilho de trem.
     11 de jan. de 2023 <br>
     
     
    
   <p>

    para conchecer mais <a href"">clique aqui!</a>
   </p>
</article>  
article
<h3>steven universo </h3>
<h5>curto: 5/5</h5>
<p>
    <img src="Steven_Universo_(Personagem).png" alt="" height="100px" width="80px">
</p>
<p>
    <strong>Stven universo </strong> <br>Steven Universe é um 
   <br> desenho animado que conta a história de um grupo
   <br> rebelde chamado Crystal Gems.
     <br>Milhares de anos atrás, uma raça alienígena (as Gems),
      <br>toda composta por mulheres, invadiu a terra 
     <br>com a intenção de colonizar o planeta e explorar 
     seus recursos naturais.
     <br> 30 de jun.
     de 2017
     <br>
     <br>
   
   <p>

    para conchecer mais <a href"">clique aqui!</a>
   </p>
</article>
</article>  
article
<h3>Euphoria</h3>
<h5>curto: 5/5</h5>
<p>
    <img src="Euphoria.webp" alt="" height="100px" width="80px">
</p>
<p>
    <strong> Euphoria </strong> <br>Euphoria
    <br> acompanha a história de Rue Bennett, 
   <br> uma garota de 17 anos que depois de uma 
  <br>  overdose está tentando ficar sóbria. 
  <br>  Rue se tornou usuária de Oxicodona desde a 
   <br> época em que seu pai lutava contra um câncer, e a 
    <br> morte dele a deixou extremamente abalada.
    
     <br>
     <br>
   
   <p>

    para conchecer mais <a href"">clique aqui!</a>
   </p>
</article>
article
<h3>That 90 show</h3>
<h5>curto: 5/5</h5>
<p>
    <img src="show anos 90.jpg" alt="" height="100px" width="80px">
</p>
<p>
    <strong>show anos 90</strong> <br> A série retrata o cotidiano de um grupo de adolescentes de Point Place, um 
   <br> subúrbio fictício 
   <br> de Green Bay, Wisconsin. Um lugar no meio do nada nos EUA. O que jovens rebeldes e com os hormônios em 
   <br> ebulição fazem 
   <br> numa cidadezinha esqueci
    <br> da por Deus em plenos anos 70? Eles arranjam formas de se divertir, oras!
   <p>

    para conchecer mais <a href"">clique aqui!</a>
   </p>
</article>

</body>
</html>