<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 bregaFunk</title>
</head>
<body>
    
   <header style="display: flex;">

    <!--section foto de perfil-->
</section>
<img src="-lisa-simpsons.jpg" alt="100px" heigth="100px" width="100px" > 
</section
<!--navegaçao da minha pagina-->
    <nav>

    </nav>
</section>
<br> <br> 

Luara souza | 24 anos | @luh_aranja2| |luaraoliveira06@outlook.com |Touro <br>

</header>
 
<!---->
<nav>

  <hr>
  <a href="mysite.html"> Eu e eu mesmo</a>
  <a href="entretenimento.html">Entretenimento</a>
  <a href="musicas.html"> Músicas</a>
 
  
   
    </nav>

 <!--Aqui começa minha lista-->  
<main>
    <ol>
        <li>Frank Ocean - Nighs</li>
        <li>Lana The Rey - Young And Beautiful</li>
        <li>Terno Rei - Yoko</li>
        <li>Bk - Amanhecer</li>
        <li>Vivendo Do Ócio - Prisioneiro Do Futuro</li>
        <li>Dj Snake - U Are My High</li>
        <li>Kali Uchis - I Wish You Roses</li>
        <li>The Neighbourhood - Scary Love</li>
        <li>Soul For Real - Candy Rain</li>
        <li>Beyonce - Dangerously In Love</li>
    </ol>
<!--Rodapé-->
</footer>
by luara souza &copy;
</footer>
</main>  
</body>
</html>