<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
   <header style="display: flex;">

    <!--section foto de perfil-->
    <section>
        <img src="-lisa-simpsons.jpg" alt="100px" heigth="100px" width="100px" > 
    </section>
    <!---->
    <h1> 

        <br> <br> 
    <section>
        Luara souza | 24 anos | @luh_aranja2| |luaraoliveira06@outlook.com |Touro <br>
    </section>

   </header>
 
<!---->
<nav>

  <hr>
  <a href="mysite.html"> Eu e eu mesmo</a>
  <a href="entretenimento.html">Entretenimento</a>
  <a href="musicas.html"> Músicas</a>
   
   
    

    
 </nav>  
<!--Estrutura principal do site-->
<main>
    <h1> <br>Me chamo Luara mais conchecida como lua
       <br> Mae de 2 filhos
       <br> moro no cordeiro 
       <br> tenho 24 anos 
        </h1>
<p>
    <li>Gosto de ler livros</li>
    <ul>cozinhar</ul>
    <li>meus filhos se chama Theo e Flora</li>
    <li>Sou dorameira</li>
    <li>Amo jujuba</li>
    <li>Bebida preferida e vinho </li>
    <li></li>


</u>
</p>
</main>
</body>

</html>